<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>House Catalog - Alugar</title>

    <link rel="stylesheet" type="text/css" href="../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>

<div id="div-central">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <aside id="barra-lateral">
        <h2 style="text-align: center;"></h2>
    </aside>

    <section id="section-conteudo">
        <div style="padding-left: 170px">
            <h1></h1>
        </div>
    </section>

</div>

</body>

</html>