<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>House Catalog - Alugar</title>

    <link rel="stylesheet" type="text/css" href="../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>

<div class="div-central">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <aside id="barra-lateral" class="col-md-3">
        <h2 style="text-align: center;">Filtro de Busca</h2>
        <form class="form" th:action="@{/imoveis/buscar}" method="POST" th:object="${imoveis}" enctype="multipart/form-data">
            <input type="hidden" name="tipo" th:field="tipo" value="alugar" />
            <p>Busca por Rua:</p>
            <input type="text" th:field="*{rua}" style="width:100%" />
            <p>Busca por Bairro:</p>
            <input type="text" th:field="*{bairro}" style="width:100%" />
            <p>Busca por Cidade:</p>
            <input type="text" th:field="*{cidade}" style="width:100%" />
            <button type="submit" style="width:100%; padding: 10px 20px;">Buscar</button>
        </form>
    </aside>

    <section id="section-conteudo">
        <div style="padding-left: 170px">
            <h1></h1>
        </div>
    </section>

</div>

</body>

</html>