<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>House Catalog - Comprar</title>

    <link rel="stylesheet" type="text/css" href="../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>

<div id="div-central">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <aside id="barra-lateral">
        <h2 style="text-align: center;">Filtro de Busca</h2>
    </aside>

    <section id="section-conteudo">
        <div style="padding-left: 170px">

            <h1>Imóveis Recentes</h1>
            
            <div class="quadro-anuncio" th:each="imovel : ${imoveis}">

                <div class="imagem-quadro-anuncio">
                    <img src="../static/imagens/no-image.jpg" width="100%" />
                </div>

                <h2 th:text="">Titulo do imovel</h2>
                <p th:text="imovel.descricao">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit vulputate mi, at dictum lacus facilisis at. Vestibulum vitae scelerisque erat.
                </p>

                <div class="rodape-quadro-anuncio">
                    <div class="rodape-quadro-anuncio-preco" th:text="imovel.valorImovel">R$ 250.000,00</div>
                </div>

            </div>

        </div>
    </section>

</div>

</body>

</html>