<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <link rel="stylesheet" type="text/css" href="../css/styleLogin.css"> 
    <title>
    	House Catalog - Página de Login
    </title>
</head>

<body>
	
	<div class="login-page">

		<div class="form">
			<form>
				<input type="text" placeholder="Nome de Usuário"/>
				<input type="email" placeholder="E-mail"/>
				<input type="text" placeholder="Telefone"/>
				<input type="text" placeholder="CPF"/>
				<input type="password" placeholder="Nova Senha"/>
				<input type="password" placeholder="Repetir Senha"/>
				<button>Criar</button>
				<p class="message"><a href="login.html">Voltar para Login</a></p>
			</form>
		</div>
	</div>

</body>

</html>