<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>House Catalog</title>

    <link rel="stylesheet" type="text/css" href="../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/main.css" th:href="@{/css/main.css}">
    <!--link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
</head>

<body>

<div id="div-central">

    <header id="header">

        <div id="div-logo">
            <img src="../../resources/static/imagens/logo.png" th:src="@{/imagens/logo.png}" id="logo-header"/>
        </div>

        <div class="div-secao-login">
            <div th:if="${usuarioLogado}">
                Olá, <a href="#" title="Editar" th:text="${usuarioLogado.nome}"></a>&nbsp;
                <div id="div-botao-sair">
                    <a href="/logout" title="Logout">
                        x
                    </a>
                </div>
            </div>
            <div th:if="!${usuarioLogado}">
                <span class="botao-entrar">
                    <a href="/login" title="Entrar">
                        Login
                    </a>
                </span>
                <span class="botao-cadastrar">
                    <a href="/anunciante/cadastrar" title="Fazer Cadastro">
                        Registrar
                    </a>
                </span>
            </div>
        </div>

        <div id="barraAzul-header">

            <ul id="menu-header-ul">
                <li>
                    <a href="/">Home</a>
                </li>
                <!--<li>-->
                <!--<a href="/imovel/comprar">Comprar</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="/imovel/alugar">Alugar</a>-->
                <!--</li>-->
                <li th:if="${usuarioLogado}">
                    <a href="/imovel/anunciar">Anunciar</a>
                </li>
            </ul>

        </div>

    </header>

    <section id="section-conteudo">
        <div th:if="!${imoveis.isEmpty()}">

            <h1>Imóveis Recentes</h1>

            <div class="quadro-anuncio" th:each="imovel, iterator : ${imoveis}">

                <div class="w3-content w3-display-container" th:if="!${imovel.imagens.isEmpty()}">
                    <a th:href="@{'/imovel/editar/' + ${imovel.id}}">
                        <img th:class="${'imgAnuncio mySlides'+iterator.index}"
                             th:src="${imagem.getBytesImgFormatted()}"
                             style="width:100%;"
                             th:styleappend="${iteratorImg.index} > 0 ? 'display:none;' : 'display:block;'"
                             th:each="imagem, iteratorImg: ${imovel.imagens}">
                    </a>

                    <img class="w3-button w3-black w3-display-left"
                         th:onclick="'plusDivs(-1, \''+${iterator.index}+'\');'"
                         src="../../resources/static/imagens/arrow_back.png" th:src="@{/imagens/arrow_back.png}">
                    <img class="w3-button w3-black w3-display-right"
                         th:onclick="'plusDivs(1, \''+${iterator.index}+'\');'"
                         src="../../resources/static/imagens/arrow_after.png" th:src="@{/imagens/arrow_after.png}">
                </div>

                <img src="../../resources/static/imagens/no-image.jpg" th:src="@{/imagens/no-image.jpg}" width="100%"
                     th:if="${imovel.imagens.isEmpty()}"/>

                <h2 th:text="${imovel.getDescription()}"></h2>
                <p th:text="${imovel.descricao}"></p>

                <div class="rodape-quadro-anuncio">
                    <div class="rodape-quadro-anuncio-preco" th:text="${imovel.getValorStr()}">R$ 250.000,00</div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>

<script>
    var slideIndex = [];

    function plusDivs(n, no) {
        while (slideIndex.length < no + 1) {
            slideIndex.push(1);
        }

        showDivs(slideIndex[no] += n, no);
    }

    function showDivs(n, no) {
        var i;
        var x = document.getElementsByClassName('mySlides' + no);
        if (n > x.length) {
            slideIndex[no] = 1
        }
        if (n < 1) {
            slideIndex[no] = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex[no] - 1].style.display = "block";
    }
</script>

</html>