<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>House Catalog</title>

	<link rel="stylesheet" type="text/css" href="../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" type="text/css" href="../../resources/static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>

	<div id ="div-central">

		<header id="header">
			
			<div id="div-logo">
				<img src="../../resources/static/imagens/logo.png" th:src="@{/imagens/logo.png}" id="logo-header" />
			</div>

			<div id="div-secao-login">
				<div>
					Olá, <a href="#" title="Editar" >José Joaquim</a>&nbsp;
					<div id="div-botao-sair">
						<a href="#" title="Logout">
						x
						</a>
					</div>
				</div>
			</div>

			<div id="barraAzul-header">

				<ul id="menu-header-ul">
					<li>
						<a href="">Comprar</a>
					</li>
					<li>
						<a href="">Alugar</a>
					</li>
					<li>
						<a href="">Anunciar</a>
					</li>
				</ul>

			</div>

		</header>

		<aside id="barra-lateral">
			
		</aside>

		<section id="section-conteudo">
			
		</section>

	</div>
	
</body>

</html>