<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>House Catalog</title>

    <link rel="stylesheet" type="text/css" href="../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../resources/static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="../../resources/static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body>

<div id="div-central">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="container" style="width:1550px">
        <div class="row">

            <aside id="barra-lateral" class="col-xs-3 col-md-3">
                <h2 style="text-align: center;">Filtro de Busca</h2>
                <form class="form" th:action="@{/}" method="GET" enctype="multipart/form-data">
                    <p>Busca por Rua:</p>
                    <input id="rua" name="rua" type="text" style="width:100%"/>
                    <p>Busca por Bairro:</p>
                    <input id="bairro" name="bairro" type="text" style="width:100%"/>
                    <p>Busca por Cidade:</p>
                    <input id="cidade" name="cidade" type="text" style="width:100%"/>
                    <button type="submit" style="width:100%; padding: 10px 20px;">Buscar</button>
                </form>
            </aside>

            <section id="section-conteudo" class="col-xs-9 col-md-9">
                <div th:if="!${imoveis.isEmpty()}">

                    <h1>Imóveis Encontrados</h1>

                    <div class="quadro-anuncio" th:each="imovel, iterator : ${imoveis}">
                        <a th:href="@{'/imovel/visualizar/' + ${imovel.id}}">
                            <div class="w3-content w3-display-container" th:if="!${imovel.imagens.isEmpty()}">
                                <img th:class="${'imgAnuncio mySlides'+iterator.index}"
                                     th:each="imagem, iteratorImg: ${imovel.imagens}"
                                     th:src="${imagem.getBytesImgFormatted()}" style="width:100%;"
                                     th:styleappend="${iteratorImg.index} > 0 ? 'display:none;' : 'display:block;'">

                                <img class="w3-button w3-black w3-display-left"
                                     th:onclick="'plusDivs(-1, \''+${iterator.index}+'\');'"
                                     src="../../resources/static/imagens/arrow_back.png"
                                     th:src="@{/imagens/arrow_back.png}">
                                <img class="w3-button w3-black w3-display-right"
                                     th:onclick="'plusDivs(1, \''+${iterator.index}+'\');'"
                                     src="../../resources/static/imagens/arrow_after.png"
                                     th:src="@{/imagens/arrow_after.png}">
                            </div>

                            <img src="../../resources/static/imagens/no-image.jpg" th:src="@{/imagens/no-image.jpg}"
                                 width="100%"
                                 th:if="${imovel.imagens.isEmpty()}"/>

                            <h2 th:text="${imovel.getDescription()}"></h2>
                            <p th:text="${imovel.descricao}"></p>

                            <div class="rodape-quadro-anuncio">
                                <div class="rodape-quadro-anuncio-preco" th:text="${imovel.getValorStr()}">R$
                                    250.000,00
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <nav th:if="${imoveisPage.totalPages > 0}">
                    <ul class="pagination">
                        <li th:each="pageNumber : ${pageNumbers}" class="page-item">
                            <a th:href="@{/(size=${imoveisPage.size}, page=${pageNumber})}"
                               th:text="${pageNumber}" th:class="${'page-link ' + (pageNumber==imoveisPage.number + 1 ? 'active' : '')}"></a>
                        </li>
                    </ul>
                </nav>

            </section>

        </div>
    </div>


</div>

</body>

<script>
    var slideIndex = [];

    function plusDivs(n, no) {
        while (slideIndex.length < no + 1) {
            slideIndex.push(1);
        }

        showDivs(slideIndex[no] += n, no);
    }

    function showDivs(n, no) {
        var i;
        var x = document.getElementsByClassName('mySlides' + no);
        if (n > x.length) {
            slideIndex[no] = 1
        }
        if (n < 1) {
            slideIndex[no] = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex[no] - 1].style.display = "block";
    }
</script>

</html>