<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <link rel="stylesheet" type="text/css" href="../css/styleLogin.css"> 
    <title>
    	House Catalog - Página de Login
    </title>
</head>

<body>
	
	<div class="login-page">

		<div class="form">
			<div style="width: 100%; height: 150px">
				<img src="../imagens/logo.png" style="width: 100%" />
				<h3 style="color: #071075">Login</h3>
			</div>
			<br>
			<form class="login-form">
				<input type="text" placeholder="Nome de Usuário"/>
				<input type="password" placeholder="Senha"/>
				<button>login</button>
				<p class="message">Não é Registrado? <a href="criar_cadastro.html">Criar uma conta</a></p>
			</form>
		</div>
	</div>

</body>

</html>