<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div th:fragment="menu-header" >
        <div id="barraAzul-header">

            <ul id="menu-header-ul">
                <li>
                    <a href="/">Home</a>
                </li>
                <!--<li>-->
                <!--<a href="/imovel/comprar">Comprar</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="/imovel/alugar">Alugar</a>-->
                <!--</li>-->
                <li th:if="${usuarioLogado}">
                    <a href="/imovel/anunciar">Anunciar</a>
                </li>
            </ul>

        </div>
    </div>
  </body>
</html>