<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/main.css" th:href="@{/css/main.css}">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <title>
        House Catalog - Anunciar Imóvel
    </title>

    <script type="text/javascript" >

        $(document).ready(function(){
            $('.cep').mask('00000-000');
            $('.telefone').mask('(00) 0000-0000');
            $('.cpf').mask('000.000.000-00');
            $('.cnpj').mask('00.000.000/0000-00');
        });

    </script>
</head>

<body>

<div id="div-central">

    <header id="header">

        <div id="div-logo">
            <img src="../../../resources/static/imagens/logo.png" th:src="@{/imagens/logo.png}" id="logo-header"/>
        </div>

        <div id="div-secao-login">
            <div th:if="${usuarioLogado}">
                Olá, <a href="#" title="Editar" th:text="${usuarioLogado.nome}"></a>&nbsp;
                <div id="div-botao-sair">
                    <a href="/logout" title="Logout">
                        x
                    </a>
                </div>
            </div>
        </div>

        <div id="barraAzul-header">

            <ul id="menu-header-ul">
                <li>
                    <a href="/">Home</a>
                </li>
                <!--<li>-->
                    <!--<a href="../comprar.html">Comprar</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="../alugar.html">Alugar</a>-->
                <!--</li>-->
                <li>
                    <a href="/imovel/anunciar">Anunciar</a>
                </li>
            </ul>

        </div>

    </header>

    <section id="section-conteudo">

        <h1>Anunciar Imóvel</h1>
        <div class="form">
            <form th:action="@{/imovel/salvar}" method="POST" th:object="${imovel}" >

                <input type="text" name="descricao" th:field="*{descricao}" style="width:100%" placeholder="Descrição"/>
                <input type="text" name="rua" th:field="*{rua}" style="width:500px" placeholder="Rua" required />
                <input type="text" name="numero" th:field="*{numero}" style="width:100px" placeholder="Número" required />
                <input type="text" name="complemento" th:field="*{complemento}" style="width:300px" placeholder="Complemento"/>
                <input type="text" name="bairro" th:field="*{bairro}" placeholder="Bairro" required />
                <input type="text" name="cep" th:field="*{cep}" placeholder="CEP" required />
                <input type="text" name="cidade" th:field="*{cidade}" placeholder="Cidade" required />
                <input type="text" name="estado" th:field="*{estado}" style="width:100px" placeholder="Estado" required />

                <!-- Tipo do imóvel Casa, Apartamento, Terreno, Sobrado -->

                <select class="appearance-select" th:field="*{tipoImovel}" required>

                    <option value="" selected="selected">Tipo do Imóvel</option>
                    <option th:each="tipoImovel : ${tiposImovel}" th:value="${tipoImovel}"
                            th:text="${tipoImovel.descricao}"></option>
                </select>

                <!-- Negócio, venda ou aluguel -->
                <select class="appearance-select" th:field="*{tipoNegocio}" required>

                    <option value="" selected="selected">Tipo de Negócio</option>
                    <option th:each="tipoNegocio : ${tiposNegocio}" th:value="${tipoNegocio}"
                            th:text="${tipoNegocio.descricao}" ></option>
                </select>

                <!-- Estado de Conservação -->
                <select class="appearance-select" th:field="*{tipoConservacao}" required >

                    <option value="" selected="selected" >Estado de Conservação</option>
                    <option th:each="tipoConservacao : ${tiposConservacao}" th:value="${tipoConservacao}"
                            th:text="${tipoConservacao.descricao}"></option>
                </select>

                <input type="number" name="valorImovel" th:field="*{valorImovel}" placeholder="Valor" required />
                <input type="number" name="valorCondominio" th:field="*{valorCondominio}" placeholder="Valor do Condomínio"/>
                <input type="number" name="largura" th:field="*{largura}" placeholder="Largura"/>
                <input type="number" name="comprimento" th:field="*{comprimento}" placeholder="Comprimento"/>
                <input type="number" name="areaTotal" th:field="*{areaTotal}" placeholder="Área Total"/>
                <input type="number" name="areaConstruida" th:field="*{areaConstruida}" placeholder="Área Construída"/>
                <input type="number" name="comodos" th:field="*{comodos}" placeholder="Cômodos" required />
                <input type="number" name="quartosSimples" th:field="*{quartosSimples}" placeholder="Quartos" required />
                <input type="number" name="banheirosSimples" th:field="*{banheirosSimples}" placeholder="Banheiros" required />
                <input type="number" name="suites" th:field="*{suites}" placeholder="Suítes" required />
                <input type="number" name="vagasGaragem" th:field="*{vagasGaragem}" placeholder="Vagas na Garagem" required />

                <h2>Adicionais</h2>

                <div class="checkbox" th:each="adicional : *{adicionais}">
                    <input type="checkbox" name="adicionais" th:value="${adicional.id}"/>
                    <label th:text="${adicional.descricao}"></label>
                </div>

                <h2>Adicione imagens do imóvel</h2>

                <input type="file" name="pic" accept="image/*" multiple>
                <br>

                <button type="submit">Anunciar</button>

            </form>
        </div>
    </section>
</div>

</body>

</html>

