<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/main.css" th:href="@{/css/main.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>
        House Catalog - Visualizar Imóvel
    </title>

</head>

<body>

<div id="div-central">

    <header id="header">

        <div id="div-logo">
            <img src="../../../resources/static/imagens/logo.png" th:src="@{/imagens/logo.png}" id="logo-header"/>
        </div>

        <div th:insert="fragments/header.html :: login"> </div>

        <div th:insert="fragments/header.html :: menu"> </div>

    </header>

    <section id="section-conteudo">

        <div th:id="${'anuncioImagem' + imagem.id}" class="imagens-anuncio">
            <div class="w3-content w3-display-container" th:if="!${imovel.imagens.isEmpty()}">
                <!--<a th:href="@{'/imovel/editar/' + ${imovel.id}}">-->
                <img th:class="${'imgAnuncio mySlides'+iterator.index}"
                     th:src="${imagem.getBytesImgFormatted()}"
                     style="width:100%;"
                     th:styleappend="${iteratorImg.index} > 0 ? 'display:none;' : 'display:block;'"
                     th:each="imagem, iteratorImg: ${imovel.imagens}">
                <!--</a>-->

                <img class="w3-button w3-black w3-display-left"
                     th:onclick="'plusDivs(-1, \''+${iterator.index}+'\');'"
                     src="../../resources/static/imagens/arrow_back.png" th:src="@{/imagens/arrow_back.png}">
                <img class="w3-button w3-black w3-display-right"
                     th:onclick="'plusDivs(1, \''+${iterator.index}+'\');'"
                     src="../../resources/static/imagens/arrow_after.png" th:src="@{/imagens/arrow_after.png}">
            </div>
        </div>

        <h1 th:text="${title}">Titulo</h1>

        <h2>Descrição</h2>
        <p th:text="*{descricao}">Descrição</p>

        <h2>Endereço</h2>
        <p th:text="*{rua}, *{numero}, *{complemento}">Endereço</p>

        <h2>Bairro</h2>
        <p th:text="*{bairro}">Bairro</p>

        <h2>CEP</h2>
        <p th:text="*{cep}">CEP</p>

        <h2>Cidade</h2>
        <p th:text="*{cidade}">Cidade</p>

        <h2>Estado</h2>
        <p th:text="*{estado}">Estado</p>

        <h2>Tipo de Imóvel</h2>
        <p th:text="*{tipoImovel}">Tipo de Imóvel</p>

        <h2>Tipo de Negócio</h2>
        <p th:text="*{tipoNegocio}">Tipo de Negócio</p>

        <h2>Conservação</h2>
        <p th:text="*{tipoConservacao}">Conservação</p>

        <h2>Valor</h2>
        <p th:text="*{valorImovel}">Valor</p>

        <h2>Valor Condomínio</h2>
        <p th:text="*{valorCondominio}">Valor Condomínio</p>

        <h2>Largura</h2>
        <p th:text="*{largura}">Largura</p>

        <h2>Comprimento</h2>
        <p th:text="*{comprimento}">Comprimento</p>

        <h2>Área Total</h2>
        <p th:text="*{areaTotal}">Área Total</p>

        <h2>Área Construída</h2>
        <p th:text="*{areaConstruida}">Área Construída</p>

        <h2>Cômodos</h2>
        <p th:text="*{comodos}">Cômodos</p>

        <h2>Quartos Simples</h2>
        <p th:text="*{quartosSimples}">Quartos Simples</p>

        <h2>Baneiros Simples</h2>
        <p th:text="*{banheirosSimples}">Baneiros Simples</p>

        <h2>Suítes</h2>
        <p th:text="*{suites}">Suítes</p>

        <h2>Vagas na Garagem</h2>
        <p th:text="*{vagasGaragem}">Vagas na Garagem</p>

        <h2>Adicionais</h2>

        <div class="checkbox" th:each="adicional : *{adicionais}">
            <p th:text="${adicional.descricao}"></p>
        </div>


        <br>



    </section>
</div>

</body>

</html>

