@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* cores da identidade:

#C71218 vermelho
#071075 azul

*/

body {
  background: #d3d3d3; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

body h1 {
    font-size: 20px;
    font-weight: bold;
    color: #071075;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Ebrima";
}

body h2 {
	font-size: 17px;
    font-weight: bold;
    color: #071075;
    margin: 10px;
    font-family: "Ebrima";
}

body p {
	margin: 10px;
}

.quadro-menu-user {
	width: 250px;
	height: 450px;
	margin-left: 80px;
	margin-top: 100px;
	float: left;
	background-color: white;
	padding: 25px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.quadro-apresentacao-user {
	width: 750px;
	height: 450px;
	margin-left: 25px;
	margin-top: 100px;
	background-color: white;
	float: left;
	padding: 25px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.imagem-user {
	width: 250px;
	height: 250px;
}

.menu-user {
    width: 100%;
}

.menu-user a {
	margin-top: 10px;
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

.menu-user a:hover {
    background-color: #ccc;
}

.menu-user a.active {
    background-color: #071075;
    color: white;
}

.form {
  position: relative;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 250px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #071075;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#button-salvar-anunciante {
  position: absolute;
  right: 70px;
  bottom: -120px;
  width: 140px;
  height: 48px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #0a2b8b;
}

#button-excluir-anunciante {
  background: #C71218;
}

#button-excluir-anunciante:hover {
  background-color: #A60107;
}

#vizualizar-button {
  width: 80px;
  margin: 9px 5px 5px 5px;
  background: #32cd32 ;
  border: 0;
  padding: 7px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#editar-button {
  width: 80px;
  margin: 5px;
  background: #071075;
  border: 0;
  padding: 7px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#excluir-button {
  width: 80px;
  margin: 5px;
  background: #C71218;
  border: 0;
  padding: 7px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#vizualizar-button:hover {
	background-color: #28a428;
}

#editar-button:hover {
	background-color: #1b3c9c;
}

#excluir-button:hover {
	background-color: #A60107;
}

.div-anuncio {
	margin: 10px;
	background-color: white;
	height: 130px;
}

.div-area-anuncio {
	width: 600px;
	float: left;
	height: 130px;
}

.div-botoes-anuncio {
	width: 100px;
	float: right;
	height: 130px;
}
