@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* cores da identidade:

#C71218 vermelho
#071075 azul

*/

body {
  background: #d3d3d3; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

body h1 {
    font-size: 20px;
    font-weight: bold;
    color: #071075;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Ebrima";
}

body h2 {
	font-size: 17px;
    font-weight: bold;
    color: #071075;
    margin: 10px;
    font-family: "Ebrima";
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success hr {
    border-top-color: #b1dfbb;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

body p {
	margin: 10px;
}

.quadro-menu-user {
	width: 250px;
	height: 450px;
	margin-left: 80px;
	margin-top: 100px;
	float: left;
	background-color: white;
	padding: 25px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.quadro-apresentacao-user {
	width: 750px;
	height: 450px;
	overflow-y: auto;
	margin-left: 25px;
	margin-top: 100px;
	background-color: white;
	float: left;
	padding: 25px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.imagem-user {
	border-radius: 50%;
  width: 120px;
  height: 120px;
}

.centraliza-imagem {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu-user {
    width: 100%;
}

.menu-user a {
	margin-top: 10px;
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

.menu-user a:hover {
    background-color: #ccc;
}

.menu-user a.active {
    background-color: #071075;
    color: white;
}

.form {
  position: relative;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 250px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #071075;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#button-salvar-anunciante {
  position: absolute;
  right: 70px;
  bottom: -100px;
  width: 140px;
  height: 51px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #0a2b8b;
}

#button-excluir-anunciante {
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  background: #C71218;
  position: absolute;
  right: 225px;
  bottom: -100px;
  width: 140px;
}

#button-excluir-anunciante:hover {
  background-color: #A60107;
}

#vizualizar-button {
  width: 70px;
  margin: 9px 15px 5px 5px;
  background: #32cd32 ;
  border: 0;
  padding: 7px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-align: center;
}

#editar-button {
  width: 70px;
  margin: 9px 15px 5px 5px;
  background: #071075;
  border: 0;
  padding: 7px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-align: center;
}

#excluir-button {
  width: 70px;
  margin: 5px;
  background: #C71218;
  border: 0;
  padding: 7px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-align: center;
}

#vizualizar-button:hover {
	background-color: #28a428;
}

#editar-button:hover {
	background-color: #1b3c9c;
}

#excluir-button:hover {
	background-color: #A60107;
}

.div-anuncio {
  width: 100%;
	background-color: white;
	height: 130px;
  border:8px solid #ccc;
}

.div-area-anuncio {
	width: 75%;
	float: left;
	height: 130px;
}

.div-botoes-anuncio {
	width: 25%;
	float: right;
	height: 130px;
}

.voltar-link {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  text-align: center
}

.pagination{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding-left:0;list-style:none;border-radius:.25rem}
.page-item:first-child .page-link{margin-left:0;border-bottom-left-radius:.25rem;border-top-left-radius:.25rem}.page-item:last-child .page-link{border-bottom-right-radius:.25rem;border-top-right-radius:.25rem}.page-item.active .page-link{z-index:2;color:#fff;background-color:#0275d8;border-color:#0275d8}.page-item.disabled .page-link{color:#636c72;pointer-events:none;cursor:not-allowed;background-color:#fff;border-color:#ddd}.page-link{position:relative;display:block;padding:.5rem .75rem;margin-left:-1px;line-height:1.25;color:#0275d8;background-color:#fff;border:1px solid #ddd}.page-link:focus,.page-link:hover{color:#014c8c;text-decoration:none;background-color:#eceeef;border-color:#ddd}.pagination-lg .page-link{padding:.75rem 1.5rem;font-size:1.25rem}.pagination-lg .page-item:first-child .page-link{border-bottom-left-radius:.3rem;border-top-left-radius:.3rem}.pagination-lg .page-item:last-child .page-link{border-bottom-right-radius:.3rem;border-top-right-radius:.3rem}
