<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/styleLogin.css" th:href="@{/css/styleLogin.css}">
    <title>
        House Catalog - Cadastro
    </title>
</head>

<body>

<div class="login-page">

    <div class="form">
        <form th:action="@{/anunciante/salvar}" method="POST" th:object="${anunciante}">

            <input type="text" th:field="*{nome}" placeholder="Nome de Usuário" required/>
            <input type="email" th:field="*{email}" placeholder="E-mail" required/>
            <input type="text" th:field="*{telefone}" placeholder="Telefone(Opcional)"/>
            <input type="text" th:field="*{cnpj}" placeholder="CNPJ(Opcional)"/>
            <input type="text" th:field="*{creci}" placeholder="CRECI(Opcional)"/>
            <input type="password" th:field="*{senha}" placeholder="Senha" required/>
            <!--input type="password" placeholder="Repetir Senha"/-->
            <button type="submit">Criar Cadastro</button>

            <p class="message"><a href="/login">Ir para Login</a></p>
            <p class="message"><a href="/">Cancelar</a></p>

        </form>
    </div>
</div>

</body>

</html>