<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/styleLogin.css"
          th:href="@{/css/styleLogin.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>
    <title>
        House Catalog - Cadastro
    </title>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.telefone').mask('(00) 0000-00009');
            $('.telefone').on( "keydown", function(e){
                if($(this).val().length > 13) {
                    $(this).mask('(00) 00000-0009');
                }
                if( e.which == 8 || e.which == 46){
                    $(this).mask('(00) 0000-00009');
                }
            });
            $('.cnpj').mask('00.000.000/0000-00');
        });
    </script>
</head>

<body>

<div class="login-page">

    <div class="form">

        <p th:if="${erro}" class="error" th:text="${erro}"></p>
        <form th:action="@{/anunciante/salvar}" method="POST" th:object="${anunciante}">
            <input type="text" th:field="*{nome}" placeholder="Nome de Usuário" required/>
            <input type="email" th:field="*{email}" placeholder="E-mail" required/>
            <input type="text" th:field="*{telefone}" class="telefone" placeholder="Telefone(Opcional)"/>
            <input type="text" th:field="*{cnpj}" class="cnpj" placeholder="CNPJ(Opcional)"/>
            <input type="text" th:field="*{creci}" placeholder="CRECI(Opcional)"/>
            <input type="password" th:field="*{senha}" placeholder="Senha" required/>
            <!--input type="password" placeholder="Repetir Senha"/-->
            <button type="submit">Criar Cadastro</button>

            <p class="message"><a href="/login">Ir para Login</a></p>
            <p class="message"><a href="/">Cancelar</a></p>

        </form>
    </div>
</div>

</body>

</html>