<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/anunciante.css" th:href="@{/css/anunciante.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>
        House Catalog - Cadastro
    </title>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.telefone').mask('(00) 0000-00009');
            $('.telefone').on( "keydown", function(e){
                if($(this).val().length > 13) {
                    $(this).mask('(00) 00000-0009');
                }
                if( e.which == 8 || e.which == 46){
                    $(this).mask('(00) 0000-00009');
                }
            });
            $('.cnpj').mask('00.000.000/0000-00');

            $('.submit').click(function(){
                validateForm();   
            });

            function validateForm(){
                if( $('.inputsenha').val() != $('.inputrepetirsenha').val() ){
                    alert("Senhas não conferem.")
                }
            }

        });
    </script>
</head>

<body>

    <div class="quadro-menu-user">

        <img src="../../../resources/static/imagens/no-image.jpg" th:src="@{/imagens/no-image.jpg}" class="imagem-user" />

        <div class="menu-user">
          <a href="#" class="active">Editar Dados</a>
          <a href="/imovel/buscar/">Meus Anuncios</a>
          <a href="configuracoes.html">Configurações</a>
          <a href="/logout">Logout</a>
        </div>

    </div>

    <div class="quadro-apresentacao-user">
        <div class="alert alert-success alert-dismissible" th:if="${onSave}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Sucesso!</strong>
            <span th:text="${onSave}">Test</span>
        </div>

        <h1>Editar Informações de Cadastro</h1>

        <div class="form">
            <form th:action="@{/anunciante/salvar}" id="formEditar" method="POST" th:object="${anunciante}" enctype="multipart/form-data">
                <input type="hidden" name="nextPage" value="anunciante/editar"/>
                <input type="hidden" name="id" th:field="*{id}"/>
                <span>Nome: &nbsp;&nbsp;&nbsp;&nbsp;</span><input type="text" style="width: 608px" th:field="*{nome}" placeholder="Nome de Usuário" required/>
                <br>

                <span>Telefone: </span><input type="text" th:field="*{telefone}" class="telefone" placeholder="Telefone(Opcional)"/>
                <span>&nbsp;E-mail: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><input type="email" th:field="*{email}" placeholder="E-mail" required/>
                <br>

                <span>CNPJ: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <input type="text" th:field="*{cnpj}" class="cnpj" placeholder="CNPJ(Opcional)"/>
                <span>&nbsp;Nova Senha: &nbsp;&nbsp;</span><input type="password" id="inputsenha" th:field="*{senha}" placeholder="Senha" required/>
                <br>

                <span>CRECI: &nbsp;&nbsp;&nbsp;&nbsp;</span><input type="text" th:field="*{creci}" placeholder="CRECI(Opcional)"/>
                <span>&nbsp;Repetir Senha: </span><input type="password" id="inputrepetirsenha" placeholder="Repetir Senha" required/>
                <!--input type="password" placeholder="Repetir Senha"/-->
                <button type="submit" class="submit" id="button-salvar-anunciante">Salvar</button>

            </form>
        </div>

    </div>

</body>

</html>