<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/anunciante.css" th:href="@{/css/anunciante.css}">
    <link rel="stylesheet" type="text/css" href="../../../resources/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>
    <title>
        House Catalog - Cadastro
    </title>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.telefone').mask('(00) 0000-00009');
            $('.telefone').on("keydown", function (e) {
                if ($(this).val().length > 13) {
                    $(this).mask('(00) 00000-0009');
                }
                if (e.which == 8 || e.which == 46) {
                    $(this).mask('(00) 0000-00009');
                }
            });
            $('.cnpj').mask('00.000.000/0000-00');
        });

        function removeImovel(n) {
            if (confirm("Deseja realmente remover este anúncio?")) {
                $.ajax({
                    type: "DELETE",
                    contentType: "application/json",
                    url: "/imovel/excluir/" + n,
                    dataType: 'json',
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        //removendo o objeto da lista de imagens
                        var imoveis = /*[[${imoveis}]]*/ null;
                        if (imoveis != null) {
                            for (i = 0; i < imoveis.length; i++) {
                                if (imoveis[i].id == n) {
                                    imoveis = imoveis.splice(i, 1);
                                    break;
                                }
                            }
                        }
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });

                //removendo o quadro da imagem da tela
                $('#anuncioImovel' + n).remove();
            }
        }

    </script>
</head>

<body>

<div id="div-central">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="container">

        <div class="row" style="padding-top: 50px; min-height: 700px">

            <div class="col-sm-3">
                <div class="centraliza-imagem">
                    <img src="../../../resources/static/imagens/no-image.jpg" th:src="@{/imagens/no-image.jpg}" class="imagem-user" />
                </div>
                <div class="menu-user">
                    <a href="/anunciante/editar/">Editar Dados</a>
                    <a href="/imovel/buscar/" class="active">Meus Anuncios</a>
                    <a href="/logout">Logout</a>
                </div>
                <p class="voltar-link"><a href="/">Voltar</a></p>
            </div>

            <div class="col-sm-9">

                <h1>Meus Anúncios</h1>
                <div>
                    <div th:id="${'anuncioImovel' + imovel.id}" class="div-anuncio" th:each="imovel : ${imoveis}">
                        <div class="div-area-anuncio">
                            <h2 th:text="${imovel.getDescription()}">Anúncio</h2>
                            <p th:text="${imovel.descricao}"></p>
                        </div>
                        <div class="div-botoes-anuncio">
                            <div style=" float: right;">
                                <a th:href="@{'/imovel/editar/' + ${imovel.id}}">
                                    <div id="editar-button">Editar</div>
                                </a>
                                <a th:onclick="'removeImovel(' + ${imovel.id} + ');'" href="#">
                                    <div id="excluir-button">Excluir</div>
                                </a>  
                            </div>
                        </div>
                    </div>

                </div>
                <br />

                <nav th:if="${imoveisPage.totalPages > 0}">
                    <ul class="pagination">
                        <li th:each="pageNumber : ${pageNumbers}" class="page-item">
                            <a th:href="@{/imovel/buscar/(size=${imoveisPage.size}, page=${pageNumber})}"
                               th:text="${pageNumber}" th:class="${'page-link ' + (pageNumber==imoveisPage.number + 1 ? 'active' : '')}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>

</html>