<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/reset.css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" href="../../../resources/static/css/anunciante.css" th:href="@{/css/anunciante.css}">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.mask.js}"></script>
    <title>
        House Catalog - Cadastro
    </title>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.telefone').mask('(00) 0000-00009');
            $('.telefone').on( "keydown", function(e){
                if($(this).val().length > 13) {
                    $(this).mask('(00) 00000-0009');
                }
                if( e.which == 8 || e.which == 46){
                    $(this).mask('(00) 0000-00009');
                }
            });
            $('.cnpj').mask('00.000.000/0000-00');
        });
    </script>
</head>

<body>

    <div class="quadro-menu-user">

        <img src="../../../resources/static/imagens/no-image.jpg" class="imagem-user" />

        <div class="menu-user">
          <a href="editar.html">Editar Dados</a>
          <a href="#" class="active">Meus Anuncios</a>
          <a href="configuracoes.html">Configurações</a>
          <a href="#">Logout</a>
        </div>

    </div>

    <div class="quadro-apresentacao-user">
        <h1>Meus Anúncios</h1>

        <div style="overflow-y: scroll; background-color: #d3d3d3">

            <div class="div-anuncio">

                <div class="div-area-anuncio">
                    <h2>Anuncio</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam metus eget auctor fringilla. Donec tempor enim ex, a vestibulum lectus elementum ac.</p>
                </div>
                <div class="div-botoes-anuncio">
                    <form th:action="@{/anuncio/vizualizar}" method="POST" th:object="${anunciante}">
                        
                        <button type="submit" id="vizualizar-button">Ver</button>

                    </form>
                    <form th:action="@{/anuncio/editar}" method="POST" th:object="${anunciante}">
                        
                        <button type="submit" id="editar-button">Editar</button>

                    </form>
                    <form th:action="@{/anuncio/excluir}" method="POST" th:object="${anunciante}">
                        
                        <button type="submit" id="excluir-button">Excluir</button>

                    </form>
                </div>

            </div>

        </div>

    </div>

</body>

</html>